<h3>Detalles del ruta</h3>
<div>
  <div>
    <label><b>ID : </b> {{ ruta.id }}</label>
  </div>
  <div>
    <label><b>Destino Inicial : </b> {{ ruta.destinoInicial }}</label>
  </div>
  <div>
    <label><b>Destino Final : </b> {{ ruta.destinoFinal }}</label>
  </div>
  <div>
    <label><b>Duración : </b> {{ ruta.duracion }} minutos</label>
  </div>
  <div>
    <label><b>Estado : </b> {{ ruta.estado }}</label>
  </div>
  <div>
    <label><b>Empleado Asignado : </b> {{ ruta.idEmpleado }}</label>
  </div>
</div>
