<h3>Detalles del producto</h3>
<div>
  <div>
    <label><b>ID : </b> {{ producto.id }}</label>
  </div>
  <div>
    <label><b>Nombre : </b> {{ producto.nombre }}</label>
  </div>
  <div>
    <label><b>Descripcion : </b> {{ producto.descripcion }}</label>
  </div>
  <div>
    <label><b>Cantidad : </b> {{ producto.cantidad }}</label>
  </div>
  <div>
    <label><b>Precio : </b> {{ producto.precio }}</label>
  </div>
  <div>
    <label><b>Proveedor : </b> {{ producto.idProveedor }}</label>
  </div>
</div>
